html,
body {
    width: 100%;
    height: 100%;
    padding: 0px;
    overflow: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-image: url("./images/addressBook.jpg");
}

#rowGen {
    justify-content: center;
    display: inline-block;
    margin-top: 6rem;
    padding: 4rem;
    background-color: rgba(90, 90, 90, 0.541);
    border-radius: 10px;
}

.jumbotron {
    background-color: blanchedalmond;
    padding: 2rem;
    text-align: center;
}

#addLink {
    color: rgb(158, 103, 71);
    font-size: larger;
    font-weight: 450;
    margin-right: 5rem;
}

#formBtn {
    margin-bottom: 3rem;
    font-weight: 500;
    font-size: small;
    background-color: rgb(44, 44, 44);
    color: white;
    border-radius: 3px;
} 

#searchRes {
    margin-bottom: 5rem;
}

#listItem{
    margin-top: .5rem;
    margin-right: 1rem;
    margin-bottom: .5rem;
    margin-left: 1rem;
}

#deleteBtn {
    background-color: rgba(243, 113, 113, 0.555);
    color: rgb(68, 68, 68);
    font-size: smaller;
    padding: .3rem;
    border-radius: 3px;
    margin-right: 1rem;
}

#editBtn {
    background-color: rgba(113, 133, 243, 0.568);
    color: rgb(68, 68, 68);
    font-size: smaller;
    padding: .3rem;
    border-radius: 3px;
}

#editBtn:hover {
    text-decoration: none;
}

#rowDetails {
    justify-content: center;
    display: inline-block;
    margin-top: 6rem;
    padding: 4rem;
    background-color: rgb(223, 223, 223);
    border-radius: 10px;
}

#detailJumbo {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#noCont {
    color: white;
    text-align: center;
}

